body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url('blue.jpg'); /* Assurez-vous que l'image est dans le même dossier */
    background-size: 50% ;
    background-repeat: repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px; /* Ajustez la largeur comme souhaité */
    text-align: center;
}

h2 {
    margin: 0 0 15px 0;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin: 10px 0 5px 0;
    font-family: Arial, sans-serif;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
